{% load static %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>meiduo-detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?v=20260610">
    <script type="text/javascript" src="{% static 'js/host.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
</head>

<body>
    <div id="app" v-cloak>
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">Welcome to Meiduo!</div>
                <div class="fr">
                    <div v-if="username" class="login_btn fl">
                        Hello! <em>[[ username ]]</em>
                        <span>|</span>
                        <a @click="logoutfunc">Logout</a>
                    </div>
                    <div v-else class="login_btn fl">
                        <a href="/login.html">Login</a>
                        <span>|</span>
                        <a href="/register.html">Register</a>
                    </div>
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="/user_center_info.html">User Center</a>
                        <span>|</span>
                        <a href="/cart.html">Cart</a>
                        <span>|</span>
                        <a href="/user_center_order.html">Order(s)</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search_bar clearfix">
            <a href="/index.html" class="logo fl"><img src="/images/logo.png"></a>
            <div class="search_wrap fl">
                <form method="get" action="/search.html" class="search_con">
                    <input type="text" class="input_text fl" name="q" placeholder="search..">
                    <input type="submit" class="input_btn fr" name="" value="search..">
                </form>
                <ul class="search_suggest fl">
                    <li><a href="#">Sony Mirrorless Cameras</a></li>
                    <li><a href="#">Save $15</a></li>
                    <li><a href="#">Beauty & Personal Care</a></li>
                    <li><a href="#">Buy 2, Get 1 Free</a></li>
                </ul>
            </div>

            <div class="guest_cart fr">
                <a href="/cart.html" class="cart_name fl">Cart</a>
                <div class="goods_count fl" id="show_count">[[ cart_total_count ]]</div>

                <ul class="cart_goods_show">
                    <li v-for="cart in carts">
                        <img :src="cart.default_image_url" alt="Product Image">
                        <h4>[[ cart.name ]]</h4>
                        <div>[[ cart.count ]]</div>
                    </li>
                </ul>
            </div>
        </div>

            <div class="navbar_con">
                <div class="navbar">
                    <div class="sub_menu_con fl">
                        <h1 class="fl">Product Categories</h1>
                        <ul class="sub_menu">
                            {% for group in categories.values %}
                            <li>
                                <div class="level1">
                                    {% for channel in group.channels %}
                                    <a href="{{ channel.url }}">{{ channel.name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="level2">
                                    {% for cat2 in group.sub_cats %}
                                    <div class="list_group">
                                        <div class="group_name fl">{{cat2.name}} &gt;</div>
                                        <div class="group_detail fl">
                                            {% for cat3 in cat2.sub_cats %}
                                            <a href="/list.html?cat={{cat3.id}}">{{cat3.name}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <ul class="navlist fl">
                        <li><a href="">Home</a></li>
                        <li class="interval">|</li>
                        <li><a href="">Best Deals</a></li>
                        <li class="interval">|</li>
                        <li><a href="">Lucky Draw</a></li>
                    </ul>
                </div>
            </div>

            <div class="breadcrumb">
                <a href="#">{{ breadcrumb.cat1 }}</a>
                <span>></span>
                <span>{{ breadcrumb.cat2 }}</span>
                <span>></span>
                <a href="#">{{ breadcrumb.cat3 }}</a>
            </div>

            <div class="goods_detail_con clearfix">
                <div class="goods_detail_pic fl"><img src="{{ sku.default_image.url }}"></div>
                <div class="goods_detail_list fr">
                    <h3>{{ sku.name }}</h3>
                    <p>{{ sku.caption }}</p>
                    <div class="price_bar">
                        <span class="show_pirce">¥<em>{{ sku.price }}</em></span>
                        <span class="show_unit">Market Price ¥{{ sku.market_price }}</span>
                        <a href="javascript:;" class="goods_judge">{{ sku.comments }} Comments</a>
                    </div>
                    <div class="goods_num clearfix">
                        <div class="num_name fl">Quantity:</div>
                        <div class="num_add fl">
                            <input v-model="sku_count" type="text" class="num_show fl">
                            <a @click="sku_count++" class="add fr">+</a>
                            <a @click="on_minus()" class="minus fr">-</a>
                        </div>
                    </div>
                    {% for spec in specs %}
                    <div class="type_select">
                        <label>{{ spec.name }}:</label>
                        {% for option in spec.spec_options %}
                        {% if option.sku_id == sku.id %}
                        <a href="javascript:;" class="select">{{ option.value }}</a>
                        {% elif option.sku_id %}
                        <a href="/goods/{{option.sku_id}}.html">{{ option.value }}</a>
                        {% else %}
                        <a href="javascript:;">{{ option.value }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="total">Total: <em>¥[[sku_amount]]</em></div>
                    <div class="operate_btn">
                        <a @click="add_cart" class="add_cart" id="add_cart">Add To Cart</a>
                    </div>
                </div>
            </div>

            <div class="main_wrap clearfix">
                <div class="l_wrap fl clearfix">
                    <div class="new_goods">
                        <h3>Hot</h3>
                        <ul>
                            <li v-for="sku in hot_skus">
                                <a :href="sku.url"><img :src="sku.default_image_url"></a>
                                <h4><a :href="sku.url">[[sku.name]]</a></h4>
                                <div class="prize">￥[[sku.price]]</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="r_wrap fr clearfix">
                    <ul class="detail_tab clearfix">
                        <li @click="on_tab_content('detail')" :class="tab_content.detail ? 'active' : ''">
                            Product Details
                        </li>

                        <li @click="on_tab_content('pack')" :class="tab_content.pack ? 'active' : ''">
                            Specifications & Packaging
                        </li>

                        <li @click="on_tab_content('comment')" :class="tab_content.comment ? 'active' : ''">
                            Product Reviews ([[comments.length]])
                        </li>

                        <li @click="on_tab_content('service')" :class="tab_content.service ? 'active' : ''">
                            After-sales Service
                        </li>
                    </ul>
                    <div @click="on_tab_content('detail')" class="tab_content"
                        :class="tab_content.detail ? 'current' : ''">
                        <dl>
                            <dt>Product Details:</dt>
                            <dd>{{ desc_detail|safe }}</dd>
                        </dl>
                    </div>

                    <div @click="on_tab_content('pack')" class="tab_content" :class="tab_content.pack ? 'current' : ''">
                        <dl>
                            <dt>Specifications & Packaging:</dt>
                            <dd>{{ desc_pack|safe }}</dd>
                        </dl>
                    </div>
                    <div @click="on_tab_content('comment')" class="tab_content"
                        :class="tab_content.comment?'current':''">
                        <ul class="judge_list_con">
                            <li class="judge_list fl" v-for="comment in comments">
                                <div class="user_info fl">
                                    <b>[[comment.username]]</b>
                                </div>
                                <div class="judge_info fl">
                                    <div :class="comment.score_class"></div>
                                    <div class="judge_detail">[[comment.comment]]</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div @click="on_tab_content('service')" class="tab_content"
                        :class="tab_content.service?'current':''">
                        <dl>
                            <dt>Aftersale：</dt>
                            <dd>{{ desc_service|safe }}</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="foot_link">
                    <a href="#">About Us</a>
                    <span>|</span>
                    <a href="#">Contact Us</a>
                    <span>|</span>
                    <a href="#">Careers</a>
                    <span>|</span>
                    <a href="#">Partner Links</a>
                </div>

                <p>Copyright © 2016 Beijing Meiduo Commerce Co., Ltd. All Rights Reserved</p>
                <p>Phone: 010-****888 Beijing ICP License No. *******8</p>
            </div>
        </div>
        <script type="text/javascript">
            var price = '{{ sku.price }}';
            var cat = '{{ sku.category.id }}';
        </script>
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/detail.js' %}?v=20260610b"></script>
</body>

</html>
