<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Meiduo-Detail</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script>
		$(function () {
			var $tab_btn = $('.detail_tab li');
			var $tab_con = $('.tab_content');
			$tab_btn.click(function () {
				$(this).addClass('active').siblings().removeClass('active');
				$tab_con.eq($(this).index()).addClass('current').siblings().removeClass('current');
			})
		})
	</script>
</head>

<body>
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">Welcome to MeiDuo!</div>
                <div class="fr">
                    <div v-if="username" class="login_btn fl">
                        Hello! <em>[[ username ]]</em>
                        <a @click="logoutfunc" class="quit">Logout</a>
                    </div>
                    <div v-else class="login_btn fl">
                        <a href="/login.html">Login</a>
                        <span>|</span>
                        <a href="/register.html">Register</a>
                    </div>
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="/user_center_info.html">User Center</a>
                        <span>|</span>
                        <a href="/cart.html">Cart</a>
                        <span>|</span>
                        <a href="/user_center_order.html">Order(s)</a>
                    </div>
                </div>
            </div>
        </div>

<div class="search_bar clearfix">
    <a href="index.html" class="logo fl">
        <img src="images/logo.png">
    </a>

    <div class="search_wrap fl">
        <div class="search_con">
            <input type="text" class="input_text fl" name="" placeholder="Search Products">
            <input type="button" class="input_btn fr" name="" value="Search">
        </div>

        <ul class="search_suggest fl">
            <li><a href="#">Sony Mirrorless Camera</a></li>
            <li><a href="#">Save ¥15</a></li>
            <li><a href="#">Beauty & Personal Care</a></li>
            <li><a href="#">Buy 2 Get 1 Free</a></li>
        </ul>
    </div>

    <div @mouseenter="get_cart" class="guest_cart fr" v-cloak>
        <a href="#" class="cart_name fl">My Cart</a>
        <div class="goods_count fl" id="show_count">15</div>

        <ul class="cart_goods_show">
            <li v-for="sku in carts">
                <img :src="sku.default_image_url" alt="Product Image">
                <h4>[[ sku.name ]]</h4>
                <div>[[ sku.count ]]</div>
            </li>
        </ul>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">

        <div class="sub_menu_con fl">
            <h1 class="fl">Product Categories</h1>

            <ul class="sub_menu">

                <li>
                    <div class="level1">
                        <a href="#">Mobile Phones</a>
                        <a href="#">Carriers</a>
                        <a href="#">Digital</a>
                    </div>

                    <div class="level2">

                        <div class="list_group">
                            <div class="group_name fl">
                                Mobile Communications &gt;
                            </div>

                            <div class="group_detail fl">
                                <a href="#">Mobile Phones</a>
                                <a href="#">Walkie Talkies</a>
                                <a href="#">Trade-in</a>
                                <a href="#">Phone Repair</a>
                            </div>
                        </div>

                        <div class="list_group">
                            <div class="group_name fl">
                                Carriers &gt;
                            </div>

                            <div class="group_detail fl">
                                <a href="#">Contract Phones</a>
                                <a href="#">Choose Number</a>
                                <a href="#">Broadband</a>
                                <a href="#">Plans</a>
                                <a href="#">Top-up/Data</a>
                                <a href="#">China Telecom</a>
                                <a href="#">China Mobile</a>
                                <a href="#">China Unicom</a>
                                <a href="#">JD Communications</a>
                                <a href="#">170 Number Selection</a>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="level1">
                        <a href="#">Computers</a>
                        <a href="#">Office</a>
                    </div>

                    <div class="level2">
                        <div class="list_group">

                            <div class="group_name fl">
                                Computers &gt;
                            </div>

                            <div class="group_detail fl">
                                <a href="#">Curved TVs</a>
                                <a href="#">Ultra-thin TVs</a>
                                <a href="#">HDR TVs</a>
                                <a href="#">OLED TVs</a>
                                <a href="#">4K Ultra HD TVs</a>
                                <a href="#">AI TVs</a>
                                <a href="#">55-inch</a>
                                <a href="#">65-inch</a>
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="level1">
                        <a href="#">Home</a>
                        <a href="#">Furniture</a>
                        <a href="#">Home Decor</a>
                        <a href="#">Kitchenware</a>
                    </div>

                    <div class="level2">
                        <div class="list_group">

                            <div class="group_name fl">
                                Furniture &gt;
                            </div>

                            <div class="group_detail fl">
                                <a href="#">Curved TVs</a>
                                <a href="#">Ultra-thin TVs</a>
                                <a href="#">HDR TVs</a>
                                <a href="#">OLED TVs</a>
                                <a href="#">4K Ultra HD TVs</a>
                                <a href="#">AI TVs</a>
                                <a href="#">55-inch</a>
                                <a href="#">65-inch</a>
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="level1">
                        <a href="#">Men Clothing</a>
                        <a href="#">Women Clothing</a>
                        <a href="#">Children Clothing</a>
                        <a href="#">Underwear</a>
                    </div>

                    <div class="level2">
                        <div class="list_group">

                            <div class="group_name fl">
                                Men Clothing &gt;
                            </div>

                            <div class="group_detail fl">
                                <a href="#">Men Clothing</a>
                            </div>

                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <ul class="navlist fl">
            <li><a href="">Home</a></li>
            <li class="interval">|</li>
            <li><a href="">Best Deals</a></li>
            <li class="interval">|</li>
            <li><a href="">Lucky Draw</a></li>
        </ul>

    </div>
</div>

<div class="breadcrumb">
    <a href="#">All Categories</a>
    <span>></span>
    <a href="#">Laptops</a>
    <span>></span>
    <a href="#">Mac Computers</a>
</div>

<div class="goods_detail_con clearfix">

    <div class="goods_detail_pic fl">
        <img src="images/goods_450.jpg">
    </div>

    <div class="goods_detail_list fr">

        <h3>Apple MacBook Pro 13.3-inch Laptop Silver</h3>

        <p>
            【New 2017 Model】MacBook Pro — powerful performance at your fingertips.
            Learn more about the Black Friday special offers.
            Click for more products from the official Apple flagship store.
        </p>

        <div class="prize_bar">
            <span class="show_pirze">¥<em>11388.00</em></span>
            <a href="javascript:;" class="goods_judge">449 Reviews</a>
        </div>

        <div class="goods_num clearfix">

            <div class="num_name fl">Quantity:</div>

            <div class="num_add fl">
                <input type="text" class="num_show fl" value="1">
                <a href="javascript:;" class="add fr">+</a>
                <a href="javascript:;" class="minus fr">-</a>
            </div>

        </div>

        <div class="type_select">
            <label>Screen Size:</label>
            <a href="javascript:;" class="select">13.3-inch</a>
            <a href="javascript:;">15.4-inch</a>
        </div>

        <div class="type_select">
            <label>Color:</label>
            <a href="javascript:;" class="select">Space Gray</a>
            <a href="javascript:;">Silver</a>
        </div>

        <div class="type_select">
            <label>Version:</label>

            <a href="javascript:;" class="select">
                Core i5 / 8GB RAM / 256GB Storage
            </a>

            <a href="javascript:;">
                Core i5 / 8GB RAM / 128GB Storage
            </a>

            <a href="javascript:;">
                Core i5 / 8GB RAM / 512GB Storage / Multi-Touch Bar
            </a>
        </div>

        <div class="total">
            Total: <em>¥11388.00</em>
        </div>

        <div class="operate_btn">
            <a href="javascript:;" class="buy_btn">Buy Now</a>
            <a href="javascript:;" class="add_cart" id="add_cart">Add to Cart</a>
        </div>

    </div>
</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">About Us</a>
			<span>|</span>
			<a href="#">Contact Us</a>
			<span>|</span>
			<a href="#">Careers</a>
			<span>|</span>
			<a href="#">Partner Links</a>
		</div>

		<p>Copyright © 2016 Beijing Meiduo Commerce Co., Ltd. All Rights Reserved</p>
		<p>Phone: 010-****888 Beijing ICP License No. *******8</p>
	</div>


</body>

</html>