<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>meiduo-place an order</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">Welcome to MeiDuo!</div>
                <div class="fr">
                    <div v-if="username" class="login_btn fl">
                        Hello! <em>[[ username ]]</em>
                        <a @click="logoutfunc" class="quit">Logout</a>
                    </div>
                    <div v-else class="login_btn fl">
                        <a href="/login.html">Login</a>
                        <span>|</span>
                        <a href="/register.html">Register</a>
                    </div>
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="/user_center_info.html">User Center</a>
                        <span>|</span>
                        <a href="/cart.html">Cart</a>
                        <span>|</span>
                        <a href="/user_center_order.html">Order(s)</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search_bar clearfix">
            <a href="index.html" class="logo fl">
                <img src="images/logo.png">
            </a>

            <div class="sub_page_name fl">
                |&nbsp;&nbsp;&nbsp;&nbsp;Submit Order
            </div>

            <form method="get" action="/search.html" class="search_con fr mt40">
                <input type="text" class="input_text fl" name="q" placeholder="Search Products">
                <input type="submit" class="input_btn fr" name="" value="Search">
            </form>
        </div>

        <h3 class="common_title">
            Confirm Shipping Address
        </h3>

        <div class="common_list_con clearfix">

            <dl>

                <dt>Ship To:</dt>

                <dd v-for='address in addresses' :class="[(nowsite==address.id)?'current':'']"
                    @click="nowsite=address.id">

                    <input type="radio" name="get_site" :value="address.id" v-model="nowsite">

                    {{ address.province }}
                    {{address.city}}
                    {{ address.district }}
                    {{ address.place }}
                    ({{ address.receiver }})
                    {{ address.mobile }}

                </dd>

            </dl>

            <a href="user_center_site.html" class="edit_site">
                Edit Shipping Address
            </a>

        </div>

        <h3 class="common_title">
            Payment Method
        </h3>

        <div class="common_list_con clearfix">

            <div class="pay_style_con clearfix">

                <input type="radio" name="pay_style" value="1" v-model="pay_method">

                <label class="cash">
                    Cash on Delivery
                </label>

                <input type="radio" name="pay_style" value="2" v-model="pay_method">

                <label class="zhifubao">
                    Alipay
                </label>

            </div>

        </div>

        <h3 class="common_title">
            Product List
        </h3>

        <div class="common_list_con clearfix">

            <ul class="goods_list_th clearfix">
                <li class="col01">Product Name</li>
                <li class="col03">Price</li>
                <li class="col04">Quantity</li>
                <li class="col05">Subtotal</li>
            </ul>

            <ul class="goods_list_td clearfix" v-for="(sku,index) in skus">

                <li class="col01">
                    {{index+1}}
                </li>

                <li class="col02">
                    <img :src="sku.default_image_url">
                </li>

                <li class="col03">
                    {{ sku.name }}
                </li>

                <li class="col05">
                    {{ sku.price }} Yuan
                </li>

                <li class="col06">
                    {{ sku.count }}
                </li>

                <li class="col07">
                    {{ sku.amount }} Yuan
                </li>

            </ul>

        </div>

        <h3 class="common_title">
            Total Settlement
        </h3>

        <div class="common_list_con clearfix">

            <div class="settle_con">

                <div class="total_goods_count">
                    Total
                    <em>{{ total_count }}</em>
                    products,
                    Total Amount
                    <b>{{ total_amount }} Yuan</b>
                </div>

                <div class="transit">
                    Shipping Fee:
                    <b>{{ freight }} Yuan</b>
                </div>

                <div class="total_pay">
                    Amount Payable:
                    <b>{{ payment_amount }} Yuan</b>
                </div>

            </div>

        </div>

        <div class="order_submit clearfix">
            <a @click="on_order_submit" id="order_btn">
                Submit Order
            </a>
        </div>

        <div class="footer">
            <div class="foot_link">
                <a href="#">About Us</a>
                <span>|</span>
                <a href="#">Contact Us</a>
                <span>|</span>
                <a href="#">Careers</a>
                <span>|</span>
                <a href="#">Partner Links</a>
            </div>

            <p>Copyright © 2016 Beijing Meiduo Commerce Co., Ltd. All Rights Reserved</p>
            <p>Phone: 010-****888 Beijing ICP License No. *******8</p>
        </div>
    </div>

    <div class="popup_con">
        <div class="popup">
            <p>订单提交成功！</p>
        </div>

        <div class="mask"></div>
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/place_order.js"></script>
</body>

</html>