<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Meiduo Mall - Registration</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
</head>
<body>
    <div class="register_con">
        <div class="l_con fl">
            <a href="index.html" class="reg_logo"><img src="images/logo.png"></a>
            <div class="reg_slogan">Welcome!</div>
            <div class="reg_banner"></div>
        </div>

        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>Registration</h1>
                <a href="/login.html" style="padding-right: 30px;">Sign In</a>
            </div>
            <div class="reg_form clearfix" id="app" v-cloak>
                 <form method="post" @submit.prevent="on_submit">
                    
                    <ul>
                        <li>
                            <label>Username:</label>
                            <input @blur="check_username" v-model="username" type="text" name="username" id="user_name">
                            <span v-show="error_name" class="error_tip">{{ error_name_message }}</span>
                        </li>
                        <li>
                            <label>Password:</label>
                            <input v-model="password" @blur="check_pwd" type="password" name="password" id="pwd">
                            <span v-show="error_password" class="error_tip">Please enter an 8-20 character password.</span>
                        </li>
                        <li>
                            <label>Confirm Password:</label>
                            <input @blur="check_cpwd" v-model="password2" type="password" name="password2" id="cpwd">
                            <span v-show="error_check_password" class="error_tip">Passwords do not match.</span>
                        </li>
                        <li>
                            <label>Phone:</label>
                            <input @blur="check_phone" v-model="mobile" type="text" name="mobile" id="phone">
                            <span v-show="error_phone" class="error_tip">{{ error_phone_message }}</span>
                        </li>
                        <li>
                            <label>Code:</label>
                            <input type="text" v-model="image_code" @blur="check_image_code" name="image_code"
                                   id="pic_code" class="msg_input">
                            <img :src="image_code_url" @click="generate_image_code" alt="code" class="pic_code">
                            <span v-show="error_image_code" class="error_tip">{{ error_image_code_message }}</span>
                        </li>
                        <li>
                            <label>SMS Code:</label>
                            <input type="text" v-model="sms_code" @blur="check_sms_code" name="sms_code" id="msg_code"
                                   class="msg_input">
                            <a @click="send_sms_code" class="get_msg_code">{{ sms_code_tip }}</a>
                            <span class="error_tip" v-show="error_sms_code">{{ error_sms_code_message }}</span>
                        </li>
                        <li class="agreement">
                            <input v-model="allow" type="checkbox" name="allow" id="allow" >
                            <label>Agree to User Agreement</label>
                            <span v-show="error_allow" class="error_tip">Please check the user agreement box</span>
                        </li>
                        <li class="reg_sub">
                            <input type="submit" value="Register">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

<div class="footer no-mp">
    <div class="foot_link">
        <a href="#">About Us</a>
        <span>|</span>
        <a href="#">Contact Us</a>
        <span>|</span>
        <a href="#">Careers</a>
        <span>|</span>
        <a href="#">Friendly Links</a>
    </div>

    <p>Copyright © 2016 Beijing Meiduo Commerce Co., Ltd. All Rights Reserved</p>
    <p>Phone: 010-****888    Beijing ICP License No. *******8</p>
</div>

<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/register.js"></script>
</body>
</html>
